.container {
    display: flex;
    flex-direction: column;
    width: 215px;
    align-items: center;
    border-radius: 12px;
    background-color: #2f363d;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
}

.converted-number {
    margin-top: -15px;
    font-size: 50px;
}

