.navbar {
  height: 140px;
  width: 100%;
  background-color: #2f363d;
  position: relative;
  top: -45px;;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title {
  font-size: 50px;
  color: white;
  position: relative;
  top: 35px;
}

@media (max-width: 400px) {
  .title {
    font-size: 40px;
    top: 20px;
  }
}

@media (max-width: 447px) {
  .title {
    font-size: 50px;
    top: 3px;
  }
}

@media (min-width: 448px) and (max-width: 600px) {
  .navbar {
    width: 100%;    
  }
  .title {
    font-size: 40px;
    top: 50px;
  }
}





